@import "tailwindcss";

@theme {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
  --color-surface-dark: #1e293b;
  --color-surface-light: #ffffff;

  --font-display: "Inter", "sans-serif";
  --font-body: "Inter", "sans-serif";

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass-nav {
    background: rgba(16, 22, 34, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

.selection-primary::selection {
  background-color: var(--color-primary);
  color: white;
}